@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Bebas+Neue&family=Berkshire+Swash&family=BhuTuka+Expanded+One&family=Big+Shoulders+Inline+Display:wght@200&family=Bodoni+Moda:ital,opsz@1,6..96&family=Boogaloo&family=Bungee&family=Cagliostro&family=Cinzel+Decorative:wght@400;900&family=Cinzel:wght@400;600;900&family=Coda&family=Contrail+One&family=Damion&family=Dorsa&family=Federant&family=Inter:wght@300&family=Irish+Grover&family=Italianno&family=Jacques+Francois&family=Kameron:wght@400;700&family=Kings&family=Kosugi&family=Krona+One&family=Kumar+One&family=Langar&family=League+Gothic&family=Lexend+Tera:wght@200;400&family=Linden+Hill&family=Lobster&family=Lustria&family=MedievalSharp&family=Miltonian&family=Monoton&family=MonteCarlo&family=Ms+Madi&family=Open+Sans:ital,wght@0,300;1,300&family=Oranienbaum&family=Orbitron:wght@400;500&family=PT+Mono&family=Playfair+Display:ital,wght@0,400;1,400;1,900&family=Poppins:wght@200;300;400;900&family=Prosto+One&family=Quattrocento&family=Rationale&family=Rosarivo&family=Silkscreen&family=Syne:wght@800&family=Trochut&family=Unica+One&family=Zen+Dots&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #fff;
}

#three-canvas-container {
    margin: 0;
    padding: 0;
    height: 100% !important;
}

.box {
    position: relative;
    margin: 0;
    padding: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    width:100%;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
}

h3 {
    z-index: 100;
    position: absolute;
    font-size: 13px;
    top: 2%;
    left: 5%;
    color: #fff;
}

#blocker {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#instructions {
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: orange; */
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0);
    border: 2px solid rgba(236, 233, 14, 0.733);
}

.text-loading {

    align-items: center;
    justify-content: center;
    
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background: #000;
}